@import "tailwindcss";

@font-face {
  font-family: "Helvtica-Neue";
  src: url("./assets/fonts/f965fdf4.woff2") format("woff2");
}

@theme {
  --color-background: #f6f9fc;
  --font-helvetica: "Helvtica-Neue", sans-serif;
  --color-heading: #0a2540;
  --color-primary: #635BFF;
  --padding-button: 6px 12px 6px 16px;
  --shadow-nav:
    0 30px 60px -50px rgba(0, 0, 0, 0.10196078431372549),
    0 30px 60px -10px rgba(50, 50, 93, 0.25098039215686274);
  --text-body: 14px;

}

html,
body {
  background-color: #f6f9fc;
}
